<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Contact List</title>
  </head>
  <body>
    <div class="container"></div>
        <h1>You Have Created a Contact</h1>
    
        <p>{{ new_contact.getName}}</p>
        <li>{{ new_contact.getNumber}}</li>
        <li>{{ new_contact.getAddress}}</li>
    </div>
  </body>
</html>
