<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Address Book Home</title>
  </head>
  <body>
    <h1>Address Book</h1>
      {% if contacts is not empty %}
      <p>Here are your contacts:</p>
        {% for new_contact in contacts %}
            <p>Name: {{ new_contact.getName }}</p>
            <li>Number: {{ new_contact.getNumber }}</li>
            <li>Address: {{ new_contact.getAddress }}</li>
        {% endfor %}
    {% endif %}


    <h3>Add A Contact</h3>
        <form action='/library' method='post'>
          <label for='name'>Name:</label>
          <input id='name' name='name' type='text'>

          <label for='number'>Number</label>
          <input id='number' name='number' type='text'>

          <label for='address'>Address</label>
          <input id='address' name='address' type='text'>

          <button type='submit'>Add Contact</button>
        </form>

  </body>
</html>
