<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Contacts</title>
  </head>
  <body>
    <h1>Here's the Contact you added:</h1>
    <p>{{ list_of_contacts.getName }}</p>
    <li>{{ list_of_contacts.getNumber }}</li>
    <li>{{ list_of_contacts.getAddress }}</li>
    <br>
    <p><a href='/'>Go Back</a></p>
  </body>
</html>
